

:root {
  --headerclr: #222533;
  --mainclr: #ffcb0f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

/* header */
.header {
  padding: 1.2rem 7%;
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--headerclr);
  z-index: 10000;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 40px;
  height: auto;
  margin-right: 6px;
}

#logo .logo-container h2 {
  color: var(--mainclr);
  font-size: 30px;
}

.nav a {
  color: white;
  font-size: 1.2rem;
  margin-left: 1rem;
  text-transform: uppercase;
  transition: 0.4s;
}
.nav a:hover {
  color: var(--mainclr);
}

.icon-header div {
  color: white;
  margin-left: 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.4s;
}
.icon-header div:hover {
  color: var(--mainclr);
}

#menu-bar {
  display: none;
}

.nav.active {
  top: 100%;
}

.search-form {
  width: 50%;
  position: absolute;
  top: -110%;
  right: 2rem;
  transition: 0.4s;
}

.search-form input {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--headerclr);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search-form.active {
  top: 110%;
}
/* header END */

/* hero section */
.hero-section {
  position: relative;
  background: url("../img/backgroundImage.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.inner-back-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.inner-back-text h1 {
  font-size: 50px;
  color: #fff;
  text-align: center;
  line-height: 5rem;
  text-transform: uppercase;
}

.inner-back-text h1 span {
  color: var(--mainclr);
  text-transform: uppercase;
}

.inner-back-text p {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 15px;
  padding: 1rem;
}

.inner-back-btn {
  display: flex;
  justify-content: center;
}

.inner-back-btn a {
  margin-right: 1rem;
}

.first-btn,
.second-btn {
  padding: 1.5rem 4rem;
  background: var(--mainclr);
  color: var(--headerclr);
  font-size: 1.2rem;
  transition: 0.4s;
}

.first-btn:hover,
.second-btn:hover {
  background: var(--headerclr);
  color: #fff;
  letter-spacing: 3px;
}
/* hero section END */

/* about */
.welcome {
  padding: 3rem 7%;
}

.welcome h2 {
  color: var(--headerclr);
  font-size: 40px;
  text-align: left;
  margin-bottom: 20px;
  padding: 60px 0px 36px;
}

.welcome h2 span {
  color: var(--mainclr);
}

.main-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.inner-welcome {
  flex: 1;
}

.welcome-text h1 {
  font-size: 40px;
  color: var(--mainclr);
}

.welcome-text p {
  font-size: 20px;
  padding: 1rem 0;
  margin-bottom: 25px;
}

.welcome-text a {
  padding: 1.2rem 4rem;
  background: var(--mainclr);
  color: var(--headerclr);
  font-size: 1.2rem;
  transition: 0.4s;
}

.welcome-text a:hover {
  background: var(--headerclr);
  color: white;
}

.inner-welcome img {
  width: 80%;
}
/* about END */

/* why choose us */
.chose-us {
  padding: 5rem 7%;
  background-color: #fafafa;
}

.chose-us h2 {
  color: var(--headerclr);
  font-size: 40px;
  text-align: center;
  padding: 2rem 1rem;
}

.chose-us h2 span {
  color: var(--mainclr);
}

.chose-text {
  color: var(--headerclr);
  font-size: 20px;
  padding: 1rem 10rem;
  text-align: center;
  margin-bottom: 25px;
}

.main-chose {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  text-align: center;
}

.inner-chose {
  flex: 1 1 200px;
}

.chose-icon {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  border: 6px solid var(--mainclr);
  border-radius: 100%;
  margin: 0 auto;
}

.chose-icon i {
  font-size: 40px;
  color: var(--headerclr);
  transition: 0.5s;
}

.chose-icon i:hover {
  color: var(--headerclr);
  transform: translateY(-25px);
}

.inner-chose h2 {
  font-size: 2rem;
  padding: 1rem 0;
}

.inner-chose p {
  font-size: 20px;
  padding: 0 1rem;
}
/* why choose us END */

/* services */
.our-services {
  padding: 5rem 7%;
}

.our-services h2 {
  color: var(--headerclr);
  font-size: 40px;
  text-align: center;
  padding: 60px 0px 36px
}

.our-services h2 span {
  color: var(--mainclr);
}

.main-service {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.inner-service {
  flex: 1 1 300px;
}

.inner-service h2 {
  padding: 1rem 0;
  font-size: 2rem;
}
.inner-service p {
  font-size: 20px;
  margin-bottom: 36px;
}
.inner-service a {
  padding: 1.2rem 3rem;
  background: var(--mainclr);
  color: var(--headerclr);
  font-size: 1.2rem;
  transition: 0.4s;
}

.inner-service a:hover {
  background: var(--headerclr);
  color: #fff;
}
/* services END */

/* work */
.our-gallery {
  padding: 4rem 7%;
  background-image: url("../img/sectionBg1.png");
  background-size: cover;
  background-position: center;
}

.our-gallery h2 {
  color: var(--headerclr);
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  padding: 60px 0px 36px
}

.our-gallery h2 span {
  color: var(--mainclr);
}

.main-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.inner-gallery {
  width: 400px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inner-gallery:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

.inner-gallery-img {
  width: 100%;
  height: 300px;
}

.inner-gallery-text {
  padding: 16px;
}

.inner-gallery-text h5 {
  font-size: 18px;
  padding-bottom: 4px;
}
/* work END */

/* commercial */
.commercial {
  padding: 2rem 7%;
  height: 400px;
  background-image: url("../img/commercialBg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.commercial-inner {
  display: flex;
  width: 80%;
  gap: 12px;
}

.commercial-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background-color: rgba(255,255,255,0.5);
  padding: 24px 0px;
}

.commercial-box h2 {
  font-size: 48px;
  margin-bottom: 8px;
  color: var(--headerclr);
}

.commercial-box h4 {
  font-size: 30px;
  color: var(--headerclr);
}
/* commercial END */

/* testimonials */
.customer-review {
  padding: 4rem 7%;
}

.customer-review h2 {
  color: var(--headerclr);
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.customer-review h2 span {
  color: var(--mainclr);
}

.main-review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.inner-review {
  flex: 1 1 300px;
  padding: 3rem 2rem;
  position: relative;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.4s;
}

.inner-review:hover {
  background: var(--mainclr);
}

.inner-review:hover i {
  color: #fff;
}

.inner-review p {
  font-size: 1rem;
  padding: 1rem 2rem;
}

.inner-review img {
  width: 50px;
}

.inner-review i {
  position: absolute;
  font-size: 3rem;
  left: 1rem;
  top: 1rem;
  color: var(--mainclr);
}
/* testimonials END */

/* contact */
.contact {
  padding: 5rem 7%;
  background-image: url("../img/sectionBg1.png");
  background-size: cover;
  background-position: center;
}

.contact h2 {
  color: var(--headerclr);
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  padding: 60px 0px 36px;
}

.contact h2 span {
  color: var(--mainclr);
}

.contact-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.contact-half {
  flex: 1;
}

.contact-form-container {
  margin: 0 auto;
  width: 80%;
}

.input-container {
  width: 100%;
  margin-bottom: 12px;
}

.input-container input[type='text'],
.input-container input[type='email'] {
  width: 100%;
  padding: 18px;
}

textarea {
  width: 100%;
  height: 200px;
  resize: none;
  padding: 18px;
  margin-bottom: 12px;
}

.input-container input[type='text'],
.input-container input[type='email'],
textarea {
  outline: none;
  border: 1px solid rgba(0,0,0,0.7);
}

.input-container input[type='text']:focus,
.input-container input[type='email']:focus,
textarea:focus {
  border: 1px solid var(--headerclr);
  background: var(--mainclr);
}

.input-container-submit input[type='submit'] {
  padding: 1.2rem 4rem;
  background: var(--mainclr);
  border: 1px solid var(--mainclr);
  font-size: 1rem;
  transition: 0.4s;
  cursor: pointer;
}

.input-container-submit input[type='submit']:hover {
  background: var(--headerclr);
  border: 1px solid var(--headerclr);
  color: var(--mainclr);
}

.contact-half-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-half-2-inner {

}

.contact-half h4 {
  color: var(--headerclr);
  font-size: 18px;
  margin-bottom: 12px;
}

.contact-half ul {
  margin-bottom: 24px;
}

.contact-half ul li {
  margin-bottom: 6px;
}

.contact-half ul li i {
  margin-right: 6px;
}
/* contact END */

/* footer */
footer {
  background-color: var(--headerclr);
  padding: 2rem 7%;
}

.footer-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-logo-img {
  width: 30px;
  height: auto;
  margin-right: 6px;
}

.footer-logo h4 {
  font-size: 24px;
  color: var(--mainclr);
}

.footer-container {
  width: 100%;
}

.footer-row,
.footer-row-2 {
  margin-bottom: 24px;
  padding: 12px 0px 24px;
  border-bottom: 1px solid #fff;
}

.footer-row p {
  color: #fff;
}

.footer-row-2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer-row-2-half {
  flex: 1;
  display: flex;
}

.footer-row-2-box {
  flex: 1;
}

.footer-row-2-box h5 {
  font-size: 18px;
  margin-bottom: 6px;
  color: var(--mainclr);
}

.footer-row-2-box ul li {
  margin-bottom: 6px;
}

.footer-row-2-box ul li a {
  color: #fff;
  transition: 0.4s;
}

.footer-row-2-box ul li:hover a {
  color: var(--mainclr);
}

.footer-row-2-box ul li a i {
  margin-right: 6px;
}

.footer-row-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-row-3 p {
  color: #fff;
}
/* footer END */

/* media queries */
@media (max-width: 991.98px) {

  .main-welcome {
    flex-direction: column;
  }

  .contact-row {
    flex-direction: column;
  }

  .contact-half {
    width: 100%;
    margin-bottom: 42px;
  }

  .contact-half-centered {

  }

  .contact-half-2-inner {
    width: 80%;
  }
}

@media (max-width:767px) {
  .header {
    padding: 1rem;
  }

  .nav {
    position: absolute;
    top: 100%;
    width: 80%;
    left: 10%;
    top: -1000%;
    background-color: var(--headerclr);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    transition: 0.5s;
  }

  .nav a {
    color: #fff;
    display: block;
    margin: 1rem;
    font-size: 14px;
  }

  #menu-bar {
    display: initial;
  }

  .inner-welcome img {
    margin-top: 20px;
    text-align: center;
  }

  .chose-text {
    padding: 1rem 2rem;
  }

  .commercial {
    height: initial;
    min-height: 400px;
  }

  .commercial-inner {
    flex-direction: column;
  }

  .search-form {
    width: 90%;
  }

  .inner-back-text {
    width: 100% !important;
  }

  .footer-row-2 {
    flex-direction: column;
  }

  .footer-row-2-half {
    width: 100%;
  }

  .footer-row-2-box {
    margin-bottom: 24px;
  }

  .footer-row-3 {
    flex-direction: column;
  }

  .footer-row-3 p {
    margin-bottom: 6px;
  }
}

@media (max-width: 575.98px) {

  .contact-form-container,
  .contact-half-2-inner {
    width: 100%;
  }

  .footer-row-2-half {
    flex-direction: column;
  }
}
