

:root {
  --headerclr: #222533;
  --mainclr: #ffcb0f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

/* header */
.header {
  padding: 2rem 7%;
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--headerclr);
  z-index: 10000;
}

#logo {
  color: var(--mainclr);
  font-size: 30px;
}

.nav a {
  color: white;
  font-size: 1.2rem;
  margin-left: 1rem;
  text-transform: uppercase;
  transition: 0.4s;
}
.nav a:hover {
  color: var(--mainclr);
}

.icon-header div {
  color: white;
  margin-left: 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.4s;
}
.icon-header div:hover {
  color: var(--mainclr);
}

#menu-bar {
  display: none;
}

.nav.active {
  top: 100%;
}

.search-form {
  width: 50%;
  position: absolute;
  top: -110%;
  right: 2rem;
  transition: 0.4s;
}

.search-form input {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--headerclr);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search-form.active {
  top: 110%;
}
/* header END */

/* hero section */
.hero-section {
  position: relative;
  background: url("../img/backgroundImage.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.inner-back-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.inner-back-text h1 {
  font-size: 50px;
  color: #fff;
  text-align: center;
  line-height: 5rem;
  text-transform: uppercase;
}

.inner-back-text h1 span {
  color: var(--mainclr);
  text-transform: uppercase;
}

.inner-back-text p {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 15px;
  padding: 1rem;
}

.inner-back-btn {
  display: flex;
  justify-content: center;
}

.inner-back-btn a {
  margin-right: 1rem;
}

.first-btn,
.second-btn {
  padding: 1.5rem 4rem;
  background: var(--mainclr);
  border-radius: 15px;
  color: var(--headerclr);
  font-size: 1.2rem;
  transition: 0.4s;
}

.first-btn:hover,
.second-btn:hover {
  background: var(--headerclr);
  color: #fff;
  letter-spacing: 3px;
}
/* hero section END */

/* footer */
footer {
  background-color: var(--headerclr);
  padding: 2rem 7%;
}

.footer-container {
  width: 100%;
}

.footer-row,
.footer-row-2 {
  margin-bottom: 24px;
}

.footer-row p {
  color: #fff;
}

.footer-row-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-row-3 p {
  color: #fff;
}
/* footer END */

/* media queries */
@media (max-width:767px) {
  .header {
    padding: 2rem;
  }

  .nav {
    position: absolute;
    top: 100%;
    width: 80%;
    left: 10%;
    top: -1000%;
    background-color: var(--headerclr);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    transition: 0.5s;
  }

  .nav a {
    color: #fff;
    display: block;
    margin: 1rem;
    font-size: 14px;
  }

  #menu-bar {
    display: initial;
  }

  .search-form {
    width: 90%;
  }

  .inner-back-text {
    width: 100% !important;
  }
}
